<h1>User Station Pending Approval</h1>

<p>
  <%= "#{@user.name} created a staion named #{@station.name} at #{@station.address}" %>  
</p>
<p>
  <%= "Please review and contact #{@user.name} at #{@user.email}"%>
</p>


